.container {
    
}

.title {
    margin: 50px 0px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.category {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 15%;
    height: 80px;
    justify-content: center;
    border-radius: 10px;
}

.style {
    background-color: rgba(95, 169, 219, 0.4);
}

.fashion {
    background-color: rgba(92, 8, 74, 0.2);
  }
  
  .category.food {
    background-color: rgba(25, 57, 29, 0.2);
  }
  
  .category.travel {
    background-color: #ff795736;
  }
  
  .category.culture {
    background-color: #ffb04f45;
  }
  
  .category.coding {
    background-color: #5e4fff31;
  }
  
.image {
    border-radius: 50%;
}